body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.left-section,
.right-section {
  flex: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#refreshButton {
  padding: 8px 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid grey;
  margin-left: 2.5rem;
}

table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

form {
  margin-top: 20px;
}

form input {
  padding: 5px;
  margin-bottom: 10px;
}

form button {
  padding: 8px 20px;
  margin-left: 5.5rem;
}

#recentScoresContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#recentScoresHeading {
  margin-right: 10px;
}
